<p>There was a problem with the singup procedure please try again.</p><br>
<p>You may go to the main page and singup again <a href='/patients/main'>Patient Sing Up/Log In</a>.<br></p>
<p>Thank you!</p>
