<h3>Patients Login</h3>
<form action="/patients/login" method="POST">
	<input type="text" id="username" name="username" placeholder="Username:">
	<input type="text" id="email" name="email" placeholder="Email">
	<input type="text" id="password" name="password" placeholder="Password:">
	<input type="submit" value="Log In">
</form>


<h3>Patients Sign Up</h3>
<form action="/patients/singup" method="POST">
    <input type="text" id="name" name="name" placeholder="Doctorsname">
	<input type="text" id="username" name="username" placeholder="Username:">
	<input type="text" id="email" name="email" placeholder="Email">
    <input type="text" id="password" name="password" placeholder="Password:">
	<input type="submit" value="Sing Up">
</form>