<form action="/patients" method="POST">
  <label>Name:</label><br></br>
    <input type="text" name="patient[name]" id="patient_name"><br></br>

    <label>Choose an existing Doctor:</label><br></br>
    <%@doctors.each do |doctor|%>
      <input type="radio" name="patient[doctor_id]" id="<%= doctor.id %>" value="<%= doctor.id %>"><%= owner.name %></input>
    <%end%><br /><br />

  <input type="submit" value="Create Patient">
</form>