# edit.erb
<h1>Update Doctor</h1>
 
<h2>Edits for <%= @doctor.name %></h2>
 
  <form action="/doctors/<%= @doctor.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the Doctor's Name:</label><br>
    <input type="text" name="doctor[name]" value="<%= @doctor.name %>"><br>
    <input type="submit" value="Update Doctor">
  </form>