<h3>Doctors Login</h3>
<form action="/doctors/login" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Log In">
</form>


<h3>Doctors Sign Up</h3>
<form action="/doctors/singup" method="POST">
    <input type="text" name="name" placeholder="Doctorsname">
	<input type="text" name="username" placeholder="Username:">
	<input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Sing Up">
</form>

