<h1>Create a new Doctor</h1>

<form action="/doctors" method="POST">
  <label>Doctor's Name:</label><br>
  <input type="text" name="doctor[name]">
  <input type="submit" value="Create Doctor">
</form>