<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Doctor Patient Communicaiton App</h1>

    <div class="content">
      <p>Welcome to the Doctor Patient Communication App. This app will help you connect with your doctor or patient respectively and get the medicins and notes prescribed by your doctor.
      In this page doctors and patients can singup to be able to communicate with each other and have the medicin's information and notes available.<br>
      <br>
      A new doctor can singup and wait for a patient to choose them for service. A patient can singup and choose a doctor for services.<br>
      <br>
    If you are a doctor user or a new doctor you may singup or login through this link:<a href='/doctors/main'>Doctor Sing Up/Log In</a>.<br>
    <br>
     If you are a patient user or a new patient you can login or singup at this link:<a href='/patients/main'>Patient Sing Up/Log In</a>.</p>
    </div>
  </div>
</div>
